<div class="container">
    <h2>Conteúdo da tela HOME</h2>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis non architecto quaerat, aliquid mollitia nihil aut neque accusantium natus a obcaecati expedita. Veritatis iste laudantium beatae doloremque quos fuga? Corporis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero repellat consequuntur in eligendi, tempore doloremque illo, debitis maxime quisquam animi voluptate odio dignissimos sint velit voluptatibus ea placeat possimus laudantium!
    </p>
    <button type="button" (click)="sair()">Sair</button>
</div>