h2 {
    margin-bottom: 1rem;
    align-self: normal;
}

button {
    background-color: rgb(221, 21, 21);
    color: aliceblue;
    letter-spacing: .5px;
    width: 100%;
    max-width: 200px;
    margin: 2rem;
    padding: .4rem;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

button:hover {
    background-color: rgb(174, 4, 4);
}